* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  list-style: none;
  font-family: monospace;
  text-decoration: none;
  letter-spacing: 2px;
}
body {
  background-color: #000;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container::before {
  content: '';
  position: absolute;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background: linear-gradient(#fcd200, #fc002e);
  transform: translate(-490px, -150px);
}
.container::after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(#08ffe6, #fcd200);
  transform: translate(390px, 170px);
}
.container .ball-1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #04f504;
  transform: translate(-250px, 200px);
  position: absolute;
}
.container .ball-2 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #08e2ff;
  transform: translate(-10px, -220px);
  position: absolute;
}
.container .ball-3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffc404;
  transform: translate(150px, 250px);
  position: absolute;
}
.container .box {
  height: 80%;
  width: 75%;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  display: grid;
  justify-items: center;
  align-items: center;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 130px;
  border: 5px outset rgba(192, 188, 188, 0.7);
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}


.container .box .section{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: 100px 100px 1fr 100px;
  justify-items: center;
  align-items: center;
}
.container .box .section h1 {
  font-size: 55px;
}
.container .box .section h3 {
  font-size: 18px;
}
.container .box .section ul {
  display: grid;
  gap: 10px;
}
.container .box .section ul li {
  font-size: 12px;
}
.button {
  border-color: transparent;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly; 
  padding: 10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: all 1s ease;
}
.button:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border-color: #000;
}
.contain {
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  height: 80%;
  width: 75%;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-items: center;
  align-content: center;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 130px;
  border: 5px outset rgba(192, 188, 188, 0.7);
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}
.total {
  display: flex;
  text-align: center;
  font-size: 30px;
  align-items: center;
}
.dis {
  display: flex;
  align-items: center;
}
.dis button {
  margin: 10px;
  background-color: transparent;
}
.dis button a:hover {
  color: #000;
}



@media (max-width:1000px) {
  .container::after {  
    height: 100px;
    width: 100px;
    transform: translate(220px, 90px);
  }
  .container .box {
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .container .box .section{
    grid-template-rows: 100px 50px .1fr 50px;
  }
  .container .box .section h1 {
    font-size: 45px;
  }
}

@media (max-width:550px) {
  .container .box {
    width: 100%;
  }
  .container::after {  
    display: none;
  }
  .container .box .section h1 {
    font-size: 35px;
  }
  .container .box .section ul li {
    font-size: 9px;
  }
}
